ul{
	list-style-type: none;none;
}

.signup input{
    padding: 10px;
    margin-bottom: 10px;
}

.profile-header{
	text-align: center;
	border-bottom: solid lightgray ;
}
.profile-header a .fa{
	font-size: 14px;
	padding: 14px 16px;
	background-color: lightgray;
	border-radius: 22px;
	color: snow;
	margin-top: 24px;
}

.profile-header a .fa:hover{
	font-size: 18px;
	color: red;
	background-color: black;
}

.profile-body{

}
.profile-body-right img{
	width: 370px;
	height: 400px;
	padding: 15px 0px;
}

.profile-body-left{
	margin-top: 5px;
}
.profile-body-left h4{
	border:solid lightgray ;
	background-color: lightgray;
	color: snow;
}
.profile-body-left p{
	text-align: center;
	font-size: 18px;
	font-family: arial;
	border: 1px solid lightgray;
}


.profile-body-left li{
	padding: 15px 5px;
}

.company-signup form{
	font-family: all;
	font-size: 20px;
	background-color: snow;
}

.company-signup h4 , h1{
	text-align: center;
	background-color: brown;
	color: snow;
	font-size: 24px;
	font-kerning: normal;
}