body{
	box-sizing: border-box;
	background-color: snow;
	padding: 0px;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}


.header{
	padding-top: 20px;
}
.header img{
	padding: 5px 20px;
	height: 90px;
	width: 200px;
}
.header ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.header li{
	float: left;
}
.header li a{
	display: block;
	color: snow;
	padding: 24px 24px;
	text-decoration: none;
	font-size: 18px;
	font-family: Arial,sans-serif;
	color: black;
}
.header li a:hover{
	font-size: 18px;
}



.footer {
}
.footer .fa{
	font-size: 24px;
	color: snow;
	padding: 10px;
}

.footer .fa:hover{
	font-size: 28px;
	color: gray;
}



.content{
	border-top: 1px black solid;

}


.sub-content1{
	border: 1px solid lightgray;
	border-top: 0px;
}



.signup{
	text-align: center;
}
.signup form{
	padding: 25px;
}
.signup input{
	width: 100%;
}


.userprofile{
	margin-top: 0px;
}
.userprofile img{
	height: 200px;
	width: 210px;
	border-radius: 100px;
	border: solid lightgray 1px;
}







